/* formato de las etiquetas */
html{
    background: rgb(254,238,245);
    background: linear-gradient(0deg, rgba(254,238,245,1) 0%, rgba(213,226,241,1) 100%);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    margin-left: 1%;
    margin-right: 1%;
    height
}

div{
    margin: 10px,10px,10px,10px;
    border-radius: 7px;
    box-shadow: 5px 5px 9px #00000012;  
    word-wrap: break-word;
}

img{
    position: relative;
}

/* tipos de texto*/

p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0px ;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    

}
h3{
    background: -webkit-linear-gradient(346deg, rgb(70, 200, 61) 0%, rgb(181, 255, 45) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h4{
    

}

/* id de degradados #degradado */
#div-normal{
  background: rgb(255, 255, 255);
}

#gr-tx-inicio{
    background-image: linear-gradient(285deg, #FAD961 0%, #F76B1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gr-tx-inicio-p{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* class de html .class*/
.inicio{
    width: max-width;
    height: auto;
}

.tex-inicio{
    font-size: 60px;
    padding-top: 4%;
    padding-left: 10px;
}

.tex-inicio2{
    font-size: 20px;
    padding-left: 10px;
    width:45%; 
}

.img1{
    width: 40%;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    top: -45%;
    left: 50%;
}


