<!DOCTYPE html>
<html>
    <head>
         <title>Mayi</title>
         <meta class="jj">
         <meta name="theme-color" content="rgb(10,14,28)" />
         <link rel="stylesheet" href="css/class-inicio.css"  type="text/css">
         <link rel="stylesheet" href="css/gradientes.css" type="text/css">
         <link rel="stylesheet" href="css/inicio.css" type="text/css">

    </head>
    <body>
        <div id="baner1" class="baner1">
           <button id="boton1" class="boton1" type="button">Inicio</button>
           <button id="boton1" class="boton1" type="button">Meses</button>
           <button id="boton1" class="boton1" type="button">Momentos</button>
        </div>

        <div class="baner2">
            <h2 id="h2-1" class="txt1">TE AMO MAYICEL</h2>
           <img class="img1" src="Recurso7.svg">
        </div>

        <h1>Hola mundo como te encuentras en este momento</h1>
        
        <h2>joham mmmmmm heroku</h2>
        <a href="/pagina2.js">
        <input type="button" value="Joham">
        </a>

        <form action="pagina2.html">
            <input type="button" value="loquequieras">
        </form>

        <input type="button" value="nombre" onClick="location.href='pagina2.html'" />
    </body>
</html>

