<!DOCTYPE html>
<html>
    <head>
         <title>Mayi</title>
         <meta class="jj">
         <meta name="theme-color" content="rgb(10,14,28)" />
         <link rel="stylesheet" href="/public/css/class-inicio.css"  type="text/css">
         <link rel="stylesheet" href="/public/css/gradientes.css" type="text/css">
         <link rel="stylesheet" href="/public/css/inicio.css" type="text/css">

    </head>
    <body>
        <div id="baner1" class="baner1">
           <button id="boton1" class="boton1" type="button">Inicio</button>
           <button id="boton1" class="boton1" type="button">Meses</button>
           <button id="boton1" class="boton1" type="button">Momentos</button>
        </div>

        <div class="baner2">
            <h2 id="h2-1" class="txt1">TE AMO MAYICEL</h2>
           <img class="img1" src="Recurso7.svg">
        </div>

        <h1>Hola mundo como te encuentras en este momento</h1>
        
    </body>
</html>