<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/css_motivacion/diseño.css">
    <link rel="stylesheet" href="/public/css/css_motivacion/diseño.css">
    <title> Motivacion</title>
</head>
<body>
    <div id="div-normal" class="inicio">
        <h1 id="gr-tx-inicio">HOLA MI AMOR</h1>  
    </div>
    <div class="cont-1">
        
    </div>
    <div class="cont-2">

    </div>
    <div class="cont-3">

    </div>
    <p>joham</p>
    <h1>joham</h1>
    <h2>joham</h2>
    <h3>joham</h3>
    <h4>joham</h4>
</body>
</html>