<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/css_motivacion/diseño.css">
    <link rel="stylesheet" href="css/css_motivacion/diseño2.css">
    <link rel="stylesheet" href="/public/css/css_motivacion/diseño.css">
    <link rel="stylesheet" href="/public/css/css_motivacion/diseño2.css">
    <title> Motivacion</title>
</head>
<body>


    <div class="grid1">
        <div class="c1">
            <h1 id="gra1">Hola Amor Mio</h1> 
        </div>
        <div class="c2">
            <img src="luna.png" class="img1">
        </div>
        <div class="c3">
            <p id="gra2">Gracias, amor, por estar siempre de buen humor, por enseñarme que podemos ser un equipo y por darme todo el cariño que me das. Te adoro. Eres el motor de mi mundo</p> 
        </div>
    </div>

    <div class="grid2">
        <div class="c4">
             <h1 id="gra3">HERMOSA</h1>
             <img src="img1.png" class="img2">
             <h1 id="gra3">PERFECTA</h1>
        </div>
        <div class="c5">
             <h1 id="gra1">Tu corazoncito</h1>
             <p id="gra2">
                Tu corazón es hermoso late cada día, pero lo hace con tanta felicidad que se esparce por cada vena de tu cuerpo.<br>
                Cada sentimiento hermoso que tienes es llevado a cada parte de ti es hermoso verte cada día y decirte que eres hermosa que con solo verte se siente el amor el cariño la felicidad y la hermosa personalidad que tienes es el complemento perfecto para ese corazón tan noble y sincero                 
             </p>
        </div>
    </div>

    <div class="grid3">
      <div class="c6 gr-c1">
<h1> 1</h1>
      </div>
      <div class="c7 gr-c1">
<h1>2</h1>
      </div>
      <div class="c8 gr-c1">
<h1>3</h1>
      </div>
      <div class="c9 gr-c1">
<h1>4</h1>
      </div>
    </div>
</body>
</html>