<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/css_motivacion/diseño.css">
    <link rel="stylesheet" href="css/css_motivacion/diseño2.css">
    <link rel="stylesheet" href="/public/css/css_motivacion/diseño.css">
    <link rel="stylesheet" href="/public/css/css_motivacion/diseño2.css">
    <title> Motivacion</title>
</head>
<body>


    <div class="cont-1 grid1">
        <div class="hijo c1">
            <h1 id="gr-tx-inicio" class="tex-inicio">Hola Amor Mio</h1> 
        </div>
        <div class="hijo c2">
            <img src="/src/luna.png" class="img1">
        </div>
        <div class="hijo c3">
            <p class="tex-inicio2" id="gr-tx-inicio-p">Gracias, amor, por estar siempre de buen humor, por enseñarme que podemos ser un equipo y por darme todo el cariño que me das. Te adoro. Eres el motor de mi mundo</p> 
        </div>
    </div>

    <div class="cont-3 padre">
        <h1>joham</h1>
        <h2>joham</h2>
        <h3>joham</h3>
        <p>joham</p>
    </div>

</body>
</html>