<!DOCTYPE html>
<html  lang="en" xml:lang="en">
    <head>
          <link rel="stylesheet" href="/css/css_un_año/un_añodiseño.css" type="text/css">
          <title>Un Año</title>
    </head>
    <body>
        <!-- div de inicio contenedor 1-->
        <div class="contenedor1">
               <div class="a1">
                  <h1>Un Año</h1>
                  <h3>los mejores momentos de mi vida fue cuando tu llegaste  </h3>
               </div>
        </div>

        <!--contenedor 2-->
        <div class="contenedor2">
            <div>
                 <p>
                    Un día a tu lado es maravilloso tiene su esencia única al igual que su magia, cada día es muy especial donde mi amor esta creciendo más que nunca, este tiempo que llevo a tu lado me has dado algo que nadie lo hizo solo tú lo logras hacer, tratare de explicar lo bonito que es que mi corazón te pertenezca y solo sea tuyo.
                 </p>
            </div>

            <div>
                <p>
                    Encontré el amor de que siempre esper un amor verdadero un amor donde este feliz donde valore cada momento un amor que cuando mi mente imagine el momento de su partida me produzca dolor, en usted encontré el amor que espere siento que estoy tan ligado a ti a tu corazón, tu mente, tus emociones, tu cuerpo y tu alma que para mí es tan especial
                </p>
            </div>

            <div>
                <p>
                    siento como mi ser mi propia existencia solo es tuya y que el motivo de estar en este mundo fue para encontrarte para hablarte para darte mi amor para darte todas mis emociones y mi amor infinito, darte la llama de mi corazón que arde por ti cada mañana hasta que llega la noche en donde espero el siguiente día para repetir ese siclo.                  
                </p>
            </div>

            <div>
                 <p>
                    mi amor cada día crece un año es lo que mi amor arde por ti con fuerza con mucha energía porque estoy en el punto donde no digo que estoy enamorado y estoy a tu lado solo por el amor, estoy en el punto donde digo te elijo a ti una y mil veces porque en ti esta mi vida entera y mi futuro y no necesito a nadie más solo te necesito a ti.
                 </p>
            </div>

            <div class="aa2"></div>
            <div class="bb2"></div>
            <div class="cc2"> </div>
            <div class="dd2"></div>  
        </div>

        <!--contenedor 3-->
        <div class="contenedor3">
            <div>
                <h1>ERES PERFECTA</h1>
            </div>

            <div>
                <video class="video3" src="/Ed Sheeran-Perfect.mp4" controls autoplay ></video>
            </div>

            <div class="aa3">
                <p>Es extraño ver que ahora somos esa pareja ideal que tanta gente envidia. Porque mi mente la verdad, no tenía pensado tener ningún tipo de amor después de haberme llevado una decepción tras otra. El destino quería lo contrario, que tú  y yo juntásemos nuestros caminos y es genial, porque en este momento te puedo asegurar y puedo decir bien alto que le doy gracias a Dios por darme esta vida y por haberte conocido. Por haberme brindado la oportunidad de encontrar a una persona tan maravillosa como eres tú.<br>

                    Eres, sin lugar a dudas y no lo digo con la boca pequeña, la persona más maravillosa de ese mundo, la más fabulosa y sin duda a la que más quiero. Eres ese ser que me maravilla a diario, que nunca deja de sorprenderme y con la que quiero pasar el resto de mi vida, porque necesito estar a tu lado cada minuto de mis días, cada día de mis semanas y cada mes de todo el año. Sé que también tenemos nuestros problemas, es algo normal pues somos una pareja normal y corriente, pero lo que sabemos hacer muy bien es siempre resolverlo y apoyarnos. Se que soy frío a veces cuando intento expresar mis sentimientos, pero es que me cuesta.<br>
                    
                    Espero que sepas más que nadie que te amo con toda mi alma, con todo mi corazón y que siempre estaría dispuesto  a dar mi vida por ti.<br>
                    
                    Porque no quiero ni otros besos, ni abrazos de nadie más ni por supuesto otro número de móvil que me llame cada noche sólo para ligar. Porque adoro tu sonrisa, de verdad que lo hago. Tus abrazos, todas esas locuras tuyas, me encanta hacerte reír. Además, me encanta mirarte y sonreírte sin tener ninguna razón concreta, simplemente para que tu rostro se ponga rojo de esa vergüenza que te entra en ocasiones.<br>
                    
                    Adoro estar contigo, se me olvidan todos los problemas. Este es un texto para mi novia que comparto para que sepas lo mucho que te quiero y lo orgulloso que estoy de tenerte por pareja. Un apapacho amor.
                </p>
            </div>
        </div>
    </body>
</html>